
//
// @font-face {
//   font-family: 'Theme Font';
//   src: url('fonts/Cairo-Regular.ttf')
// };

// $font-family-sans-serif:      'Theme Font';
// $font-family-monospace:       $font-family-sans-serif;
// $body-bg: #f8f9fa;
$primary: #552254;
$warning: #f2a11d;
$info: #63cce9;
$body-bg: white;
$enable-shadows: true;
@import "node_modules/bootstrap/scss/mixins/box-shadow";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/variables";
